<template>
  <div class="index">
    <router-link to="/show/">Go to the Shows page</router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.index {
  padding: var(--gap);
}
</style>