<template>
  <article class="show">
    <h1 class="hello">
      Hello {{ user.name }}
    </h1>

    <Goodlive :show-info="showInfo" />
  </article>
</template>

<script>
import { mapState } from 'vuex'
import Goodlive from '@/components/Goodlive'

export default {
  components: {
    Goodlive
  },
  data () {
    return {
      showId: this.$route.params.showId
    }
  },
  watch: {
    $route () {
      this.showId = this.$route.params.showId
    }
  },
  computed: {
    ...mapState([
      'user',
      'show'
    ]),
    showInfo () {
      return this.show.showsList.find(item => item.id === Number(this.showId))
    }
  }
}
</script>

<style>
.hello {
  font-size: 31px;
  line-height: 40px;
  margin-left: var(--gap);
  margin-top: 0;
  margin-bottom: var(--gap);
  color: var(--purple);
}
</style>