<template>
  <div>
    <ul>
      <li v-for="show in show.showsList" :key="show.id">
        <router-link :to="`/show/${show.id}`">{{ show.title }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState([
      'show'
    ])
  }
}
</script>

<style>

</style>