<template>
  <footer class="app-footer">
    <nav class="app-footer__nav">
      <ul class="app-footer__nav-list">
        <li v-for="link in links" :key="link.id" class="app-footer__nav-list-item">
          <router-link :to="link.url" class="app-footer__nav-link">{{ link.name }}</router-link>
        </li>
      </ul>
    </nav>
  </footer>
</template>

<script>
export default {
  data () {
    return {
      links: [
        {
          name: 'Help',
          url: '#'
        },
        {
          name: 'Contact',
          url: '#'
        },
        {
          name: 'Policies',
          url: '#'
        },
        {
          name: 'Sign Out',
          url: '#'
        }
      ]
    }
  }
}
</script>

<style>
.app-footer {
  padding: 24px;
  box-shadow: inset 0px 1px 0px #E9E9E9;
}
.app-footer__nav-list {
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}
.app-footer__nav-list-item {
  /* because you can't just make list-style-type: none, it breaks accessibility */
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>')
}
.app-footer__nav-list-item + .app-footer__nav-list-item {
  margin-left: 20px;
}
.app-footer__nav-link {
  color: #808080;
  text-decoration: none;
  font-weight: 600;
}
</style>