<template>
  <header class="app-header">
    <app-logo />
    <app-nav />
  </header>
</template>

<script>
import AppLogo from '@/components/AppLogo'
import AppNav from '@/components/AppNav'

export default {
  components: {
    AppLogo,
    AppNav
  }
}
</script>

<style>
.app-header {
  height: 64px;
  background-color: var(--purple);
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
}
</style>