<template>
  <router-link class="app-logo" :title="title" to="/" />
</template>

<script>
export default {
  data () {
    return {
      title: 'Main page'
    }
  }
}
</script>

<style>
.app-logo {
  height: 64px;
  width: 64px;
  display: block;
  /* it would be better to make logo in SVG, for now it is just PNG image inside, so I used PNG directly */
  background: #4935A6 url('~@/assets/logo.png') 50% 50% no-repeat;
}
</style>