<template>
  <nav class="app-nav">
    <ul class="app-nav__list">
      <li class="app-nav__list-item" v-for="action in actions" :key="action.id">
        <button class="app-nav__btn" :title="action.title">
          <span class="app-nav__updates" v-if="action.updatesAvailable" :aria-label="updatesAvailableText"></span>

          <svg-icon :name="action.icon" width="28" height="28" />
        </button>
      </li>
    </ul>
  </nav>
</template>

<script>
import SvgIcon from '@/components/SvgIcon'

export default {
  components: {
    SvgIcon
  },
  data () {
    return {
      actions: [
        {
          icon: 'search-icon',
          title: 'Search',
          updatesAvailable: false
        },
        {
          icon: 'message-icon',
          title: 'Messages',
          updatesAvailable: true
        },
        {
          icon: 'faq-icon',
          title: 'FAQ',
          updatesAvailable: false
        },
        {
          icon: 'pref-icon',
          title: 'Preferences',
          updatesAvailable: false
        }
      ],
      updatesAvailableText: 'Click me for updates'
    }
  }
}
</script>

<style>
.app-nav__list {
  display: flex;
  margin: 18px 0;
}
.app-nav__list-item + .app-nav__list-item {
  margin-left: 24px;
}
.app-nav__list-item {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>')
}
.app-nav__btn {
  width: 28px;
  height: 28px;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  vertical-align: middle;
}
.app-nav__btn img {
  vertical-align: middle;
}
.app-nav__updates {
  position: absolute;
  display: block;
  right: 1px;
  top: 0;
  width: 10px;
  height: 10px;
  background: #E01D1D;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
</style>