<template>
  <section class="goodlive">
    <header class="goodlive__header">
      <div class="show-title">
        <figure class="show-title__icon" :style="`background-color: ${showInfo.bgColor}`">
          <img :src="showIcon(showInfo.icon)" :alt="showInfo.title">
        </figure>
        <div class="show-title__text-block">
          <p class="show-title__gl">
            Goodlive
          </p>
          <h2 class="show-title__name">
            {{ showInfo.title }}
          </h2>
        </div>
      </div>
      <button class="goodlive__settings-btn" :aria-label="btnText" @click="showGoodliveMenu"></button>
    </header>

    <goodlive-sections :bg-color="showInfo.bgColor" :icon-color="showInfo.iconColor" />
  </section>
</template>

<script>
import { mapMutations } from 'vuex'
import GoodliveSections from '@/components/GoodliveSections'

export default {
  props: {
    showInfo: Object
  },
  components: {
    GoodliveSections
  },
  data () {
    return {
      btnText: 'Settings'
    }
  },
  methods: {
    ...mapMutations([
      'showGoodliveMenu'
    ]),
    showIcon (name) {
      const images = require.context('../assets/', false, /\.svg$/)
      return images(`./${name}.svg`)
    }
  }
}
</script>

<style>
.goodlive__header {
  padding: 16px var(--gap) 24px;
  margin-bottom: 4px;
  min-height: 88px;
  background: linear-gradient(189.75deg, #F5F5F9 13.54%, rgba(255, 255, 255, 0) 60.28%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goodlive__settings-btn {
  border: 0;
  background: #F0F0F5 url('~@/assets/union-icon.svg') 50% 50% no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.show-title {
  display: flex;
  max-height: 48px;
  flex-grow: 1;
  align-items: center;
}
.show-title__icon {
  margin: 0;
  width: 48px;
  height: 48px;
  border-radius: 3px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-title__gl {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
}
.show-title__name {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
}
</style>