<template>
  <div class="goodlive-sections">
    <ul class="goodlive-sections__main">
      <li v-for="section in mainSections" :key="section.id" class="goodlive-sections__main-li">
        <router-link class="goodlive-section" to="/">
          <figure class="goodlive-section__icon" :style="`background-color: ${bgColor}; color: ${iconColor}`">
            <svg-icon :name="section.icon" width="32" height="32" />
          </figure>

          <span class="goodlive-section__text">
            <span class="goodlive-section__title">
              {{ section.title }}
            </span>
            <span class="goodlive-section__description">
              {{ section.description }}
            </span>
          </span>
        </router-link>
      </li>
    </ul>
    <ul class="goodlive-sections__bottom">
      <li v-for="section in bottomSections" :key="section.id" class="goodlive-sections__bottom-li">
        <router-link class="goodlive-section goodlive-section--small" to="/">
          <figure class="goodlive-section__icon" :style="`background-color: ${bgColor}; color: ${iconColor}`">
            <svg-icon :name="section.icon" width="22" height="22" />
          </figure>
          <span>
            {{ section.title }}
          </span>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import SvgIcon from '@/components/SvgIcon'

export default {
  props: {
    iconColor: String,
    bgColor: String
  },
  components: {
    SvgIcon
  },
  data () {
    return {
      sections: [
        {
          title: 'Ticket Shop',
          description: 'Manage ticket contigents, sales and resales.',
          icon: 'ticket'
        },
        {
          title: 'Guest Lists',
          description: 'Unlock to manage ticket contigents, availability, discounts and ticket resale.',
          icon: 'guest-list'
        },
        {
          title: 'Guest Dashboard',
          description: 'Onboard your guests, configure partner integrations and communicate news.',
          icon: 'guest-dashboard'
        },
        {
          title: 'Event Analytics',
          description: 'Gain insights from data collected across touch points with your gusts.',
          icon: 'analytics'
        },
        {
          title: 'Manage people and permissions',
          description: '',
          icon: 'people'
        },
        {
          title: 'Customize Herokey',
          description: '',
          icon: 'appearance'
        }
      ]
    }
  },
  computed: {
    mainSections () {
      return this.sections.slice(0, 4)
    },
    bottomSections () {
      return this.sections.slice(-2)
    }
  }
}
</script>

<style>
.goodlive-sections {
  padding: 0 var(--gap);
}
.goodlive-sections__main {
  flex-direction: column;
}
.goodlive-sections__bottom,
.goodlive-sections__main {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>')
}
.goodlive-sections__main-li {
  margin-bottom: 16px;
}
.goodlive-sections__bottom-li {
  flex-basis: 0;
  flex-grow: 1;
}
.goodlive-sections__bottom-li + .goodlive-sections__bottom-li {
  margin-left: 16px;
}
.goodlive-section {
  text-decoration: none;
  background: linear-gradient(0deg, #F6F6FA, #F6F6FA);
  border-radius: 6px;
  padding: 16px 16px 20px;
  display: flex;
  height: 104px;
}
.goodlive-section__icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 16px 0 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goodlive-section__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: var(--black);
}
.goodlive-section__text {
  display: flex;
  flex-direction: column;
}
.goodlive-section__description {
  font-size: 12px;
  color: var(--gray);
  margin-top: 8px;
}
.goodlive-section--small {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-height: 64px;
  color: #000000;
  padding-left: 8px;
  padding-right: 8px;
}
.goodlive-section--small .goodlive-section__icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
</style>