<template>
  <nav class="menu-shows">
    <header class="menu-shows__header">
      <p class="menu-shows__title">
        Goodlive
      </p>
      <button class="menu-shows__close" :aria-label="btnText" @click="hideGoodliveMenu"></button>
    </header>

    <ul class="menu-shows__list">
      <li v-for="show in show.showsList" :key="show.id" class="menu-shows__list-item">
        <router-link :to="`/show/${show.id}`" class="show-link">
          <figure class="show-link__icon" :style="`background-color: ${show.bgColor}`">
            <img :src="showIcon(show.icon)" :alt="show.title">
          </figure>
          <span class="show-link__name">
            {{ show.title }}
          </span>
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  data () {
    return {
      btnText: 'Close'
    }
  },
  computed: {
    ...mapState([
      'show'
    ])
  },
  methods: {
    ...mapMutations([
      'hideGoodliveMenu'
    ]),
    showIcon (name) {
      const images = require.context('../assets/', false, /\.svg$/)
      return images(`./${name}.svg`)
    }
  }
}
</script>

<style>
.menu-shows {
  padding: 21px var(--gap) var(--gap);
  background: #FFFFFF;
  box-shadow: 0px -4px 42px rgba(0, 0, 0, 0.15);
  border-radius: 8px 8px 0 0;
  position: fixed;
  bottom: 0;
  width: inherit;
  z-index: 10;
}
.menu-shows__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-shows__title {
  font-size: 16px;
  line-height: 21px;
  color: var(--black);
  margin: 0;
  font-weight: 600;
}
.menu-shows__close {
  border: 0;
  background: #F0F0F5 url('~@/assets/close-icon.svg') 50% 50% no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  top: -5px;
  right: -8px;
}
.menu-shows__list {
  margin: 20px 0 0;
  padding: 0;
}
.menu-shows__list-item {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>')
}
.menu-shows__list-item + .menu-shows__list-item {
  border-top: 1px solid #E9E9E9;
}

.show-link {
  display: flex;
  align-items: center;
  color: var(--black);
  text-decoration: none;
  background: url('~@/assets/rarr-icon.svg') 100% 50% no-repeat;
  padding: 12px 0;
}
.show-link__icon {
  margin: 0 12px 0 0;
  border-radius: 3px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-link__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
</style>