<template>
  <div id="app">
    <app-header />
    <main>
      <router-view />
    </main>
    <app-footer />

    <transition name="fade">
      <div class="popup-overlay" aria-hidden="true" v-if="show.isMenuShown" @click="hideGoodliveMenu"></div>
    </transition>

    <transition name="slideup">
      <MenuShowsList v-if="show.isMenuShown" />
    </transition>
  </div>
</template>

<script>
import AppFooter from './components/AppFooter'
import AppHeader from './components/AppHeader'
import MenuShowsList from './components/MenuShowsList'
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'app',
  components: {
    AppHeader,
    AppFooter,
    MenuShowsList
  },
  watch: {
    $route () {
      // when festival is switched, menu has to be hidden
      this.hideGoodliveMenu()
    }
  },
  computed: {
    ...mapState([
      'show'
    ])
  },
  methods: {
    ...mapMutations([
      'hideGoodliveMenu'
    ])
  }
}
</script>

<style>
:root {
  --gap: 24px;

  --purple: #382980;
  --black: #2B2B2A;
  --gray: #808080;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
#app {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: auto;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  min-height: 400px;
  position: relative;
}
main {
  flex-grow: 1;
  padding: 40px 0 32px;
}

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(43, 43, 42, 0.29);
  z-index: 5;
}

/* added will-change for better animation performance.
   added different easings to in and out animations — ease-in looks better when object is sliding out
*/
.slideup-enter-active {
  transition: transform .3s ease-out;
  will-change: transform;
}
.slideup-leave-active {
  transition: transform .3s ease-in;
}
.slideup-enter,
.slideup-leave-to {
  transform: translateY(100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease-out;
  will-change: opacity;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
